.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    align-items: center;
    background: linear-gradient(90deg,#00F6FF 0%, #002EA3 100%);
    display: flex;
    width: 90%;
    height: 75vh;
    border-radius: 5vh;
    font-family: "Roboto", sans-serif;
}

.title{
    width: 50%;
    position: relative;
    left:2vw;
    color:white;
    text-align: center;
    justify-content: left;
}

.mobile{
    display: none;
}

.contentImage{
    justify-content: center;
    text-align: center;
}
.contentImage img{
    width: 70%;
}

/* CARDS */
.cardsTitle{
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-weight: bold;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10vh;
    margin-bottom: 3vh;
}

.card{
    background-color: #0283CA;
    width: 20vw;
    height: 50vh;
}

.card h4{
    color: white;
    text-align: center;
    margin-top: 3vh;
}

/*Check out on Github*/
.contentG {
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-items: center;
    background: linear-gradient(90deg, #24292E 0%, #2B3137 100%);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50vh;
    border-radius: 5vh;
    font-family: "Roboto", sans-serif;
}

.gTitle{
    margin-top: 5vh;
    color:white;
    text-align: center;
    justify-content: left;
}

.gDesc{
    display: flex;
    position: relative;
    justify-content: space-between;
    top:10vh;
}

.gDesc h4{
    position: relative;
    left: 3vw;
    color: white;
    width: 50%;
}

.gButton{
    position: relative;
    right: 5vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 3vh;
    cursor: pointer;
}

.gButton p{
    margin: 0;
    padding: 1vh;
    font-weight: bold;
    font-size: xx-large;
    color: black;
}

.gButton img{
    padding: 1vh;
}

#carouselExample{
    display: none;
}

@media (max-width: 991px) {
    #carouselExample{
        display: block;
    }

    .cardContainer{
        display: none;
    }

    .content p{
        display: none;
    }

    .content{
        flex-direction: column;
        height: 80%;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
        font-size: 4rem;
        text-align: center;
        margin-top: 3vh;
    }
    .card{
        width: 50vw;
        height: 40vh;
    }

    .contentG h4{
        display: none;
    }

    .contentG{
        height: 30vh;
        justify-content: center; 
    }

    .contentG h1{
        margin-top: 1.5vh;
    }

    .gButton{
        position: static;
        right: 0;
        top: 0;
    }
    .gButton p{
        font-size: larger;
    }
    .gDesc{
        position: static;
        top: 0;
        width: 100%;
        justify-content: center;
    }
}